<server-model-error modelstate="modelState"></server-model-error>
<form name="frmSendSurvey" id="frmSendSurvey" class="form-horizontal" novalidate>
    <div class="form-group">
        <label for="frmEmailIds">Enter multiple email Ids seperated by comma</label>
        <textarea class="form-control" name="frmEmailIds" id="frmEmailIds" rows="4" cols="100" form="frmSendSurvey"> </textarea>
    </div>
    <div class="form-group">
        <button class="glyphicon glyphicon-envelope"></button>
    </div>
</form>